/*medias queries*/
@media screen and (max-width: 400px)
{    
    .logo{
        display: none;
    }

    .gridContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300%;
        margin: 0%;
        text-align:start;
    }
    .footer{
      display: contents;
      
    }

    .registro{
        width:auto;
        
    }

    .p1{
        text-align:start;
    }

    .vistas{
        display:contents;
        width: auto;
    }

    .titulos{
        text-align: center;
    }
    

    
}
    
@media screen and (max-width: 600px){
    .p1{
        text-align: center;
    }

    .footer{
        display: contents;
        
      }
      
    
    .logo{
        display: none;
        }
    .ul{
        text-align: center;
        position: relative;
    }

    .vistas{
        display:contents;
        width: auto;
    }
    
}

@media screen and (max-width: 1422px){
    .vistas{
        display:contents;
        width: auto;
    }
}