/*medias queries*/
@media screen and (max-width: 400px)
{    
    
    .gridContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300%;
        margin: 0%;
        text-align:start;
    }

    .registro{
        width:auto;
        
    }

    .p1{
        text-align:start;
    }
    
}
    

@media screen and (max-width: 1422px){
    .vistas{
        display:contents;
        width: auto;
    }
}