/*estiolos de sass*/
@import "./titulo.scss";
@import "./index.scss";
@import "./plataforma.scss";
@import "./formulario.scss";
@import "./medias.scss";

$azulcito: cadetblue;
$negrito: black;



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 



