/*efecto del titulo*/
.titulo{
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 21px;
   
 }
 
 .ani1 {
   color: transparent;
   -moz-text-stroke-width: 1px;
   -webkit-text-stroke-width: 1px;
   -moz-text-stroke-color: $negrito;
   -webkit-text-stroke-color: #ffffff;
 }
 
 .ani2 {
   text-shadow: 5px 5px #8dffcd;
 }
